@import "../assets/fonts.css";

.transactionHistory {
  width: 870px;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(191, 205, 222, 0.75);
  font-family: "Helvetica Neue";
}

.head {
  background-color: #00bcd4;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  line-height: 50px;
  color: #fff;
}

.item {
  font-size: 15px;
  color: #5c6975;
  font-weight: normal;
  line-height: 50px;
}

.itemBackground {
  background-color: #fff;
}

.itemBackground:nth-child(even) {
  background-color: #ecf2f3;
}
